Port 22
Protocol 2
#ListenAddress 0.0.0.0
SyslogFacility AUTHPRIV
LogLevel INFO
PermitRootLogin yes
StrictModes no
PubkeyAuthentication yes
AuthorizedKeysFile .ssh/authorized_keys
IgnoreRhosts yes
PasswordAuthentication yes
PermitEmptyPasswords no
PasswordAuthentication yes
ChallengeResponseAuthentication no
GSSAPIAuthentication no
GSSAPICleanupCredentials yes
UsePAM yes
X11Forwarding yes
TCPKeepAlive yes
UseLogin no
Compression yes
UseDNS no
ShowPatchLevel no
Subsystem sftp /usr/libexec/openssh/sftp-server
MaxAuthTries 4
HostbasedAuthentication no
PermitEmptyPasswords no
ClientAliveInterval 300
ClientAliveCountMax 0
LoginGraceTime 60
PermitUserEnvironment no
Ciphers aes128-ctr,aes192-ctr,aes256-ctr
#MACs hmac-sha2-512,hmac-sha2-256
MaxAuthTries 4
HostbasedAuthentication no
ClientAliveInterval 300
ClientAliveCountMax 0
LoginGraceTime 60
